{% extends 'layout.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form action="/signup" method="POST" class="card p-4 shadow">
                <h3 class="text-center mb-4">Sign Up</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name">
                            {% for error in form.firstName.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name">
                            {% for error in form.lastName.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                            {% for error in form.email.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="password1">Password</label>
                            <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password">
                            {% for error in form.password1.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password2">Password (Confirm)</label>
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password">
                    {% for error in form.password2.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group text-center">
                    <button type="submit" class=" blue-small-button" style="margin-top: 10px; width: 90px; height: 50px;">Sign up</button>
                </div>
                <div class="text-center" style="margin-top: 10px;">
                    <p style="font-size: 15px; display: inline; font-weight: 400;">Have an account?, </p>
                    <a href="{{url_for('main.login' , user_id = current_user.id) }}" style="display: inline; font-size: 15px;">Login</a></li>
                  </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
